
.header {
    color: var(--mainWhite);
    clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);
    overflow: hidden;
}

.height-max {
    height: calc(100vh - 76px);
    /* background: url("https://i.ibb.co/StRqkSm/banner-05.jpg") center/cover fixed no-repeat; */
    background: url("https://images.unsplash.com/photo-1663964618227-7979f4df0d44?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=871&q=80") center/cover fixed no-repeat;
    object-fit: cover;
    animation-name: zoom;
    animation-duration: 20s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2) translateX(-5%);
    }

    100% {
        transform: scale(1);
    }
}

.title-heading {
    background: rgba(0, 0, 0, 0.4);
    border-left: 0.3rem solid var(--mainBlue);
}

.title {
    font-weight: 700;
    font-size: 1.9rem;
}

@media screen and (min-width:760px) {
    .title {
        font-size: 3rem;
    }
}

.title-icon {
    color: var(--mainBlue);
    text-decoration: none !important;
}

.title-icon:hover {
    color: var(--mainBlue);
    opacity: 0.6;
}