/* Featured Start */
.featured {
    background: var(--mainGrey);
}

.featured-item {
    background: var(--mainBlue);
    color: white;
    border-radius: 0.5rem;
    opacity: 0.5;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.featured-item:hover {
    opacity: 1;
    transform: scale(1.05);
}

.featured-icon {
    margin-left: 10px;
    font-size: 1.5rem;
    color: var(--color-mainGray);
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}

.featured-icon:hover {
    color: var(--mainBlue);
}

.img-container {
    background: var(--mainBlue);
    position: relative;
    overflow: hidden;
}

.featured-photo {
    transition: all 1s ease-in-out;
}

.img-container:hover .featured-photo {
    transform: scale(2);
    opacity: 0.5;
}

.featured-link {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3rem;
    transform: translate(-50%, -50%);
    color: var(--mainBlack);
    opacity: 0;
    transition: all 1s ease-in-out;
}

.featured-link:hover {
    color: var(--mainWhite);
}

.img-container:hover .featured-link {
    opacity: 1;
}

/* Featured End */